table#note {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color:grey;
}
span {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color:grey;
}

}